[Unit]
Description=gluster_exporter - Gluster Exporter for Prometheus
Documentation=https://github.com/ofesseler/gluster_exporter
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/gluster_exporter -profile=true
Restart=always

[Install]
WantedBy=multi-user.target
